# IDE
.idea
.vscode
*.iml

# node
node_modules
package-lock.json
/dist
/.tmp
/*.lock
/*lock.yaml

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Linux ###
*~

### Windows ###
Thumbs.db
